.Rproj.user
.Rhistory
.RData
inst/doc
/_book
*.log
*.xwm
/docs
/skel-files.txt
/renew-skel.sh
/example-thesis/_book/*.html
/example-thesis/_book/*.css
/example-thesis/_book/*.json
/example-thesis/_book/**/*
/example-thesis/_book/ntu-bookdown.tex
